@font-face{
    font-family: 'ReemKufi' ;
    src: url(../fonts/ReemKufi-Regular.ttf);
}

@font-face{
    font-family: 'ReenieBeanie' ;
    src: url(../fonts/ReenieBeanie-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'ReemKufi';
    color: white;
    user-select: none;
}

h5{
    font-size: 19pt;
    font-weight: 100;
    text-align: center;
    margin: 20px 0px;
    letter-spacing: 0.5pt;
}

h6{
    font-size: 14pt;
    font-weight: 100;
}

p{
    font-size: 11pt;
    font-weight: 100;
}

div{
    font-size: 15pt;
}

body{
    background-color: #A1A2A7;
    background-image: url(../images/backgrounds/bg-lines.png);
    background-size: auto;
    background-repeat: no-repeat;
}


header{
    background-image: url(../img/backgrounds/bg-top.png);

    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 0px;
    
}

a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-weight: 100;
    font-size: 13pt;
    letter-spacing: .5pt;
}

a:hover{
    transition: 1s;
}

/*TOP NAV*/
.top_nav{
    flex: 0 1 auto;
    /* padding-right: 50px; */
   }
   
.top_nav{
  
    /* margin: auto; */
    margin-top: 0px;
}


.top_nav>ul{
    display: flex;
    flex-flow: row;

}
.top_nav>ul>li{
flex: 0 1 auto;
align-self: center;
padding:0px  15px;
font-size: 10pt;
}

.top_nav>ul>li:nth-of-type(1){
    margin: 0px 20px;
}

.nav_hover:hover{
    font-size: 15pt;
    transition: 0.5s;

}

.sakhguLogo{
    display: block;
    background-image: url(../img/icons/sakhgu_logo.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
