@font-face{
    font-family: 'ReemKufi' ;
    src: url(/assets/fonts/ReemKufi-Regular.ttf);
}

@font-face{
    font-family: 'ReenieBeanie' ;
    src: url(/assets/fonts/ReenieBeanie-Regular.ttf);
}
*{
    font-family: 'ReemKufi';
    /* color: white; */
    user-select: none;
}



body{
    background-color: #A1A2A7;
   
    /* background-position:  0 0; */
    /* background-repeat: no-repeat; */
}


header{
    background-image: url(../img/backgrounds/bg-top.png);
    
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 0px;
    
}

h1{
    color:black;
font-size: 3em;
letter-spacing: 1px;
}

h3{
    color: black;
    font-size: 1em;
}


/*TOP NAV*/



/* MAIN BLOCK */
main{
    height: 800px;
    width: 80%;
    background-color: #f3f3f3;
    box-shadow: 0px -5px 10px 10px #91919b;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 200px;
    padding: 20px 5%;
}

.news_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
    height: auto;
    background-color: gray;
    width: 270px;

}

.news_foto{
    background-color: red;
    width: auto;
    height: 70px;
}