@font-face{
    font-family: 'ReemKufi' ;
    src: url(../fonts/ReemKufi-Regular.ttf);
}

@font-face{
    font-family: 'ReenieBeanie' ;
    src: url(../fonts/ReenieBeanie-Regular.ttf);
}

*{
    font-family: 'ReemKufi';
    /* color: white; */
    user-select: none;
}



body{
    background-color: #A1A2A7;
   
    /* background-position:  0 0; */
    /* background-repeat: no-repeat; */
}


header{
    background-image: url(../img/backgrounds/bg-top.png);
    
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 0px;
    
}

h1{
    color:black;
font-size: 3em;
letter-spacing: 1px;
}

h3{
    color: black;
    font-size: 1em;
}


/*TOP NAV*/
a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-weight: 100;
    font-size: 13pt;
    letter-spacing: .5pt;
}

a:hover{
    transition: 1s;
}

.top_nav{
    flex: 0 1 auto;
    /* padding-right: 50px; */
   }
   
.top_nav{
  
    /* margin: auto; */
    margin-top: 0px;
}


.top_nav>ul{
    display: flex;
    flex-flow: row;

}
.top_nav>ul>li{
flex: 0 1 auto;
align-self: center;
padding:0px  15px;
font-size: 10pt;
}

.top_nav>ul>li:nth-of-type(1){
    margin: 0px 20px;
}

.nav_hover:hover{
    font-size: 15pt;
    transition: 0.5s;

}

.sakhguLogo{
    display: block;
    background-image: url(../img/icons/sakhgu_logo.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* MAIN BLOCK */
main{
    height: 800px;
    width: 80%;
    background-color: #f3f3f3;
    box-shadow: 0px -5px 10px 10px #91919b;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 200px;
    padding: 20px 5%;
}

.news_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
    height: auto;
    background-color: gray;
    width: 270px;

}

.news_foto{
    background-color: red;
    width: auto;
    height: 70px;
}